.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
  /* position: fixed; */
  height: 100px;
  background-color: rgba(10, 18, 57, 0.95);
  z-index: 99999;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.navbar.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 5px;
  color: white;
}

.navRight {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
  cursor: pointer;
}

.navItem a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
}

.navItem:hover a {
  color: #a8b3cf;
}

.active a {
  color: #ffa500;
  font-weight: bold;
  border-bottom: 2px solid #ffa500;
}

.button {
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 1rem;
  transition: all 0.3s;
}

.connectButton {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid #2196f3;
}

.connectButton:hover {
  background-color: #1b7dcc;
  letter-spacing: 3px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.createButton {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(248, 53, 79, 0.8);
}

.createButton:hover {
  background-color: rgba(248, 53, 79, 0.8);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.9);
  letter-spacing: 3px;
}

.userDisplay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #272b35;
  border-radius: 8px;
  color: #ffffff;
  transition: box-shadow 0.3s;
  cursor: default;
}

.userIcon {
  font-size: 1.2rem;
  color: #b0bec5;
}

.userName {
  font-size: 1rem;
  font-weight: bold;
  color: #ff5722;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navRight {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .connectButton {
    margin-left: 0;
    margin-top: 0.5rem;
    width: 100%;
  }

  .navLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItem {
    margin: 0.5rem 0;
  }
}
