.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  color: #fff;
  position: fixed;
  height: 100px;
  background-color: #292f3f;
  z-index: 99999;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.navbar.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.navRight {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
  cursor: pointer;
}

.navItem a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
}

.navItem:hover a {
  color: #a8b3cf;
}

.active a {
  color: #ffa500;
  font-weight: bold;
  border-bottom: 2px solid #ffa500;
}

.button {
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-left: 1rem;
}

.connectButton {
  background-color: #2196f3;
}

.connectButton:hover {
  background-color: #1b7dcc;
  transform: scale(1.05);
}

.createButton {
  background-color: #ff5722;
}

.createButton:hover {
  background-color: #a73918;
  transform: scale(1.05);
}

.userDisplay {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #272b35;
  border-radius: 8px;
  color: #ffffff;
  transition: box-shadow 0.3s;
  cursor: default;
}

.userIcon {
  font-size: 1.2rem;
  color: #b0bec5;
}

.userName {
  font-size: 1rem;
  font-weight: bold;
  color: #ff5722;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navRight {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .connectButton {
    margin-left: 0;
    margin-top: 0.5rem;
    width: 100%;
  }

  .navLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItem {
    margin: 0.5rem 0;
  }
}
