.chatContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000b43a6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  /* background-color: #3a4253; */
  border-bottom: 1px solid #4a5060;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 2px solid #4a5060;
}

.friendName {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.friendAddress {
  font-size: 0.9rem;
  color: #a8b3cf;
  margin: 0;
}

.chatArea {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  max-width: 70%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
}

.friendMessage {
  align-self: flex-start;
  background-color: rgba(248, 53, 79, 0.8);
  color: #fff;
}

.myMessage {
  align-self: flex-end;
  background-color: #0697e3;
  color: #080808;
}

.inputArea {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #4a5060;
}

.input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  /* background-color: #0a1239f2; */
  border: 1px solid #4a5060;
  outline: none;
  transition: border-color 0.3s ease;
  letter-spacing: 2px;
}

.input:focus {
  border-color: rgba(248, 53, 79, 0.8);
}

.sendButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgba(248, 53, 79, 0.8);
  color: #ffff;
  border: none;
  border-radius: 20px;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #ffc233;
}
