/* Error Page */
.errorPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  animation: fadeIn 0.5s ease-out;
}

.errorContent {
  background-color: #2c3742; /* Darker shade to match the app background */
  border-radius: 16px;
  padding: 40px;
  max-width: 450px;
  width: 90%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  font-size: 2rem;
  color: #f1f5f9; /* Light text */
  font-weight: bold;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2rem;
  color: #d1d8e0; /* Light grey message text */
  margin-bottom: 30px;
}

.reloadButton {
  padding: 12px 20px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #1d76d1; /* Blue for the reload button */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reloadButton:hover {
  background-color: #155b8a; /* Darker blue on hover */
}
